body{
    background-color: #2D2929;
    
}
.navbar{
    padding-right: 164px;
}
.nav-item{
    padding-left: 40px;
}
.image{
    height: 50px;
    width: 50px;
}
.welcome-text{
    padding: auto;
    padding-left: 18%;
    margin: auto;
}
.round-image{
    height: 150px;
    width: 150px;
}
.round-image-2{
    margin-left:42%;
}
.red-div{
    background-color: #B62D2D;
}
.btn1{
    background-color: #685E5E;
    color: white;
    margin-left: 43%;
   
}
.l-skills1{
    margin-left:55% ;
}

.l-skills{
   text-decoration: underline;
   width: 200px;
}
.pro-card{
    border: none;
    background-color: #2D2929;
    margin-left:100px ;
}
.pro-card-img{
    width: 200px;
    height: 200px;

}
.learn-more{
    color:#659AE9;
}
.form{
    width: 300px;
}
.icons{
    margin-right: 235px;
}
.footer{
    margin-right: 13%;
}
.pro-card-contact{
    border: none;
    background-color: #2D2929;
   
}
